/* VP-react/src/components/Button.css */

.nav-buttons {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 1rem 0 1rem;
}

.right-bottons{
    display: flex;
    flex-direction: row;
}

.inner-right-buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:10px;
}
  
.nav-button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.25rem;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #84A9AC;
    color: #fff;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    margin-bottom: 0.5rem;

}
  
.nav-button:hover {
    background-color: #fff;
    color: #3B6978;
}
  
.nav-button:not(:last-child) {
    /* margin-right: 1rem; */
}