/* VP-react/src/components/CalendarDate.css */

ul {
    list-style: none;
}

/* * * * * * * * * * * * * * * * * */
.form-container {
display: flex;
align-items: center;
justify-content: center;
margin-bottom: 1rem;
}

.input-field {
margin-right: 1rem;
}

.container {
    display: flex;
    justify-content: center;
  }
  
  .centered-container {
    display: flex;
    justify-content: center;
  }

/* .nav-button {
display: inline-block;
} */
/* * * * * * * * * * * * * * * * * */

.register-button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #09363a;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  margin-left: 0.5rem;
  margin-bottom:0.5rem;

}

.register-button:hover {
  background-color: #fff;
  color: #3B6978;
}